<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoteMates</title>
</head>
<body>
   <div class="navbar">

    <a href="/signup"><button>Sign Up</button></a>
    <a href="/login"><button>Login</button></a>

</div>

<h2> All Notes</h2>

<% notes.forEach(note => { %>
  <div class="note">
    <h3><%= note.title %></h3>
    <p><%= note.description %></p>
    <a href="/viewpdf/<%= note._id %>" target="_blank" class="btn btn-outline-primary btn-sm">
         View PDF
    </a>&nbsp;
    <a href="/download/<%= note._id %>" class="btn download-btn">
       Download
    </a>
    
  </div>
<% }) %>
  
</body>
</html>
