<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NoteMates</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/form.css">
</head>

<body>
   <%- include("partials/navbar") %>
   <%- include("partials/messages") %>

    <div class="page-center">
    <div class="form-card">
    <h2>Welcome To NoteMates</h2>

    <form class="needs-validation" novalidate action="/signup" method="POST">

      <label class="form-label mt-2">Username:</label>
      <input type="text" class="form-control" name="username" required>
      <div class="invalid-feedback">Username is required.</div>

      <label class="form-label mt-2">Email:</label>
      <input type="email" class="form-control" name="email" required>
      <div class="invalid-feedback">Please enter a valid email.</div>

      <label class="form-label mt-2">Password:</label>
      <input type="password" class="form-control" name="password" minlength="4" required>
      <div class="invalid-feedback">Password must be at least 4 characters.</div>

      <button type="submit" class="btn btn-primary mt-3">Signup</button>

    </form>

    <p class="bottom-text">
      Already have an account?
      <a href="/login">Login</a>
    </p>
  </div>
  </div>
  
 <script>
(() => {
  'use strict';

  const forms = document.querySelectorAll('.needs-validation');

  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {

      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }

      form.classList.add('was-validated');
    }, false);
  });
})();
</script>

</body>
</html>

